<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  {{!-- <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lobster+Two'> --}}
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <!-- JavaScripts -->
  <script defer src="/lib/handlebars.min.js"></script>
  <script defer src="/js/application.js"></script>
  <title>ClimateChangeUturn</title>
</head>

<body>
  <header>
    <a href="/">Home</a>
    <a href="/login">Admin</a>

  </header>

  <header class="hero horse-image flex flex-centered">
    <h1 class="hero-heading fancy-text">ClimateChangeUturn</h1>
  </header>

  <div>
    {{{body}}}
  </div>
  <footer>
    <h4><a href="/">Home</a></h4>
  </footer>
</body>

</html>
