<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lobster+Two'>
  <link rel="stylesheet" href="/stylesheets/application.css">

  <!-- JavaScripts -->
  <script defer src="/lib/handlebars.min.js"></script>
  <script defer src="/js/application.js"></script>
  <title>Rational Consumption Poll</title>
</head>

<body>
  <header>
    <a href="/">Home</a>
  </header>

  <header class="hero horse-image flex flex-centered">
    <h1 class="hero-heading fancy-text">Rational-Consumption-Poll</h1>
  </header>

  <div>
    {{{body}}}
  </div>

</body>

</html>
