<!doctype html>
<html lang="en">

<head>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  {{!-- <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lobster+Two'> --}}
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <!-- JavaScripts -->
  <script defer src="/lib/handlebars.min.js"></script>
  <script defer src="/js/application.js"></script>
  <title>ClimateChangeUturn</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <title>Climate Uturn lection</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#007F55;">
    <a href="https://www.idea.am/ru/climat-uturn" class="navbar-brand h3 text-white "  > <strong>Climate Uturn</strong> </a>
    
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">   
          <a href="/" class="text-white nav-link h3">Все лекции </a>
        </li>
        <li class="nav-item">
          <a href="/login" class="h3 text-white nav-link"> Войти </a>
        </li>
      </ul>
    </div>
  </nav>

 
  {{{body}}}


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>
