<h2 class="title">{{title}}</h2>


{{#each course}}
{{#if this.youtubeURL}}
<div class="youtube">
  <iframe src={{this.youtubeURL}} frameborder="0">Тест...</iframe>
</div>
{{/if}}
<input type="text" value={{this.youtubeURL}}>
{{#if this.formURL}}
<div class="googleDoc">
  <iframe src={{this.formURL}} frameborder="0">Тест...</iframe>
</div>
{{/if}}
{{/each}}
<div class="next">
  <form class="" method="GET" action="/" id="formInCreateNewHorses">
    <input type="submit" value="Next">
  </form>
</div>
