/* Slider design */
.slidecontainer {
  width: 100%;
  
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background-image: "😍";
  /* улыбающееся лицо с глазами-сердечками */
  /* Unicode: U+1F60D, UTF-8: F0 9F 98 8D */
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background-image: url("../images/smiley-face.png");
  cursor: pointer;
}

body{
  background-color: #f0ebf8;
  color:black;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell

}

hr{
  border: 10px solid #007F55;
  width: 50%;
}
