<br>
<center>
  <h1>Вы уверены, что хотите удалить этот курс?</h1>
  <br>
  <form action="/delete/{{title}}" method="POST">
    <input type="submit" value="Да" class="btn btn-success">
  </form>
  <br>
  <form action="/" method="GET">
    <input type="submit" value="Нет" class="btn btn-danger">
  </form>
</center>
