<br>
<form action="/ok" method="POST">
  <center>
    <h1>Войдите в свой аккаунт</h1>
  </center>
  <br>
  <h2>Логин</h2>
  <input type="text" class="form-control" aria-describedby="emailHelp" name="login">
  <br>
  <h2>Пароль</h2>
  <input type="text" class="form-control" name="password">

  <br>
  <input type="submit" class="btn btn-success" name="Ввод"></input>
</form>
