<form action="/new/{{title}}" method="POST">
  <br>
  <label for="URLInput">Добавьте ссылку на Youtube</label>
  <input type="text" id="title" name="youtubeURL" class="form-control">
  <br>
  <label for="URLInput">Добавьте ссылку на Google Form</label>
  <br>
  <input type="text" id="title" name="formURL" class="form-control">
  <br>
  <input type="submit" value="Создать" class="btn btn-success">
</form>
<br>
<form action="/{{title}}/course" method="GET">
  <input type="submit" value="Вернуться к курсу" class="btn btn-success">
</form>
