<form action="/new/{{title}}" method="POST">
  <label for="URLInput">Добавьте ссылку на Youtube</label>
  <input type="text" id="title" name="youtubeURL">
  <label for="URLInput">Добавьте ссылку на Google Form</label>
  <input type="text" id="title" name="formURL">
  <input type="submit" value="Create">
</form>
<form action="/{{title}}" method="GET">
  <input type="submit" value="Home">
</form>
